<ion-view view-title="Gallery House" hide-back-button="true"> 
	<ion-content>          
      
  <div class="row">
  <div class="col" ui-sref="detail({detial : 1})">
      <img src="../img/room1.jpg"> 
         </div>
 
 <div class="col" ui-sref="detail({detial : 2})">
      <img src="../img/room1.jpg"> 
         </div>
         
         <div class="col" ui-sref="detail({detial : 3})">
      <img src="../img/room1.jpg"> 
         </div>
         
         
         <div class="col" ui-sref="detail({detial : 4})">
      <img src="../img/room1.jpg"> 
         </div>
         
         
         <div class="col" ui-sref="detail({detial : 5})">
      <img src="../img/room1.jpg"> 
         </div>
         
         
</div>
		
		
</ion-content>
</ion-view>